{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Vargod och verifiera att <a href="mailto:{{ email }}">{{ email }}</a> är emailadressen för  {{ user_display }}.{% endblocktrans %}s konto.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Denna verifieringslänk är inte längre giltig. <a href="{{ email_url }}">Klicka här</a> för att få en ny verifieringslänk.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
