{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Logga in" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
          <h1>{% trans "Logga in" %}</h1>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Var god och logga in med en av dina existerande tredjepartskonton eller, <a href="{{ signup_url }}">Skapa Konto</a>
          för {{ site_name }} och logga in nedan:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          
          {% if redirect_field_value %}
          <p>För att kunna göra detta måste du logga in. Var god logga in nedan.</p>
          {% endif %}
          <p>Om du inte har ett konto ännu, var god och
          <a href="{{ signup_url }}"> skapa ett konto</a> först.</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
              <div class="form-group">
                <div class="form-group">
                  Användarnamn
                </div>
                <div>
                  <input type="text" name="login" placeholder="Användarnamn" autofocus="autofocus" maxlength="150" class="textinput textInput form-control" required="" id="id_login">
                </div>
              </div>
              <div class="form-group">
                <div class="form-group">
                  Lösenord
                </div>
                <div>
                  <input type="password" name="password" placeholder="Lösenord" class="textinput textInput form-control" required="" id="id_password">
                </div>
              </div>
              <div class="form-group">
                <div id="div_id_remember" class="form-check">
                  <input type="checkbox" name="remember" class="checkboxinput form-check-input" id="id_remember">
                  <label for="id_remember" class="form-check-label">
                    Kom ihåg mig
                  </label>
                </div>
              </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Glömt lösenordet?" %}</a>
            <button class="btn btn-primary" type="submit">{% trans "Logga in" %}</button>
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
