{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ändra lösenord" %}{% endblock %}

{% block content %}

<main>
    <div class="container">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class='col-6 offset-3'>
                    <h1>{% if token_fail %}{% trans "Ogiltig länk" %}{% else %}{% trans "Ändra lösenord" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}Lösenordets återställningslänk är inte längre giltig då den redan använts. Vargod <a href="{{ passwd_reset_url }}">be om en ny</a> för att återställa lösenordet.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Ändra lösenord' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Ditt lösenord har ändrats.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
