{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Ställ in lösenord" %}{% endblock %}

{% block content %}

<main>
    <div class="container">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class='col-6 offset-3'>
                    <h1>{% trans "Ställ in lösenord" %}</h1>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Ställ in lösenord' %}"/>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
