{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Återställning av lösenord" %}{% endblock %}

{% block content %}

<main>
    <div class="container">
        <section class="mb-4">
            <div class="row wow fadeIn">
                <div class='col-6 offset-3'>
                    <h1>{% trans "Återställning av lösenord" %}</h1>
                    
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    
                    <p>{% blocktrans %}Vi har skickat dig ett email. Vargod kontakta oss om du inte fått det inom några minuter.{% endblocktrans %}</p>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
