{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Denna del av sidan kräver att du verifierar att du är den du säger att du är. Detta gör vi genom att se till att du äger din email adress.{% endblocktrans %}</p>

<p>{% blocktrans %}Vi har skickat ett email till dig med en verifieringskod. Vargod klicka på länken i emailet. Om du inte fått något sådant email inom några minuter, vargod kontakta oss.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>OBS:</strong> du kan fortfarande <a href="{{ email_url }}">ändra din emailadress</a>.{% endblocktrans %}</p>


{% endblock %}
