{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- all subscriptions-->
<main>

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="container">
        <div>
        {% if theGroup == "client" %}
            <a href="{% url 'member:my_profile' %}">
        {% endif %}
        {% if theGroup == "moderator" %}
            <a href="{% url 'moderator:my_profile' %}">
        {% endif %}
        {% if theGroup == "support" %}
            <a href="{% url 'support:my_profile' %}">
        {% endif %}
                <button type="submit" class="btn btn-primary back_button">
                    Tillbaka till profil
                </button>
            </a>
        </div>
        <div class="border rounded mb-3">
            <h3>Ändra Lösenord</h3>
            <form method="POST">
                {% csrf_token %}

                <table class="table-striped table-hover w-100  mb-2">
                    <tbody>
                        <tr>
                            <td>
                                Nuvarande lösenord:
                            </td>
                            <td>
                                {{ form.old_password|as_crispy_field }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Nytt lösenord:
                            </td>
                            <td>
                                {{ form.new_password|as_crispy_field }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Upprepa lösenord:
                            </td>
                            <td>
                                {{ form.new_password_again|as_crispy_field }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type='submit' class='btn btn-primary' name="save" value={{theUser.id}}>Spara</button>
            </form>
        </div>
    </div>

</main>

{% endblock content %}