{% extends "base.html" %}

{% block content %}


<main>
    <div class="container">
    {{test}}
<!-- specific orders -->
        <div>
            <a href="{% url 'member:new_errand' %}">
                <button type="submit" class="btn btn-primary float-right">
                    Skapa nytt supportärende
                </button>
            </a>
        </div>
        {% if order.received %}
        <div>
            <a href="{% url 'member:returnOrder' %}">
                <button type="submit" class="btn btn-primary float-right">
                    Returnera hela ordern
                </button>
            </a>
        </div>
        {% endif %}
        {% if not order.being_delivered and not order.received %}
        <div>
            <a href="{% url 'member:cancelOrder' %}">
                <button type="submit" class="btn btn-primary float-right">
                    Avbeställ
                </button>
            </a>
        </div>
        {% endif %}
        <div class="border rounded mb-3">
            <table class="table-striped table-hover w-100  mb-2">
                <tbody>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Order Referens
                        </td>
                        <td>
                            {{ order.ref_code }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Beställd
                        </td>
                        <td>
                            {{ order.ordered_date }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Faktureringsadress
                        </td>
                        <td>
                            {{ shipping_address.street_address }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Leveransadress
                        </td>
                        <td>
                            {{ billing_address.street_address }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Använda rabattkoder
                        </td>
                        <td>
                            {{ coupons.code }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Status
                        </td>
                        <td>
                            {% if order.being_delivered %}
                                Skickad
                            {% elif order.recieved %}
                                Mottagen
                            {% else %}
                                Underbehandling
                            {% endif %}
                        </td>
                    </tr>
                    {% if refund.requested %}
                    <tr>
                        <td class="mdb-color lighten-5">
                            Returstatus
                        </td>
                        <td>
                            {% if order.refund_requested %}
                                {% if order.refund_granted %}
                                    Återbetalning godkänd
                                {% else %}
                                    Retur begärd
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="border rounded mb-3">
            <table class="table-striped table-hover w-100  mb-2">
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th>
                            Produkt
                        </th>
                        <th>
                            Mängd
                        </th>
                        <th>
                            Kostnad per stock
                        </th>
                        <th>
                            Rabatt
                        </th>
                        <th>
                            Totalkostnad
                        </th>
                    </tr>
                </thead>
                <tbody> <!-- available variables, all_order_items, all_items, discounts, coupon, payment -->
                {% for orderItem in all_order_items %}
                    <tr>
                        <td>
                            {{orderItem.item.title}}
                        </td>
                        <td>
                            {{orderItem.quantity}}
                        </td>
                        <td>
                            {{orderItem.quantity}}
                        </td>
                        <td>
                            {{orderItem.quantity}}
                        </td>
                        <td>
                            {{orderItem.get_total}}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</main>
{% endblock content %}
