{% extends "base.html" %}

{% block content %}

<main>

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="main_container">
    <!--orders-->
    <!--active-->
        <div class="border rounded mb-3 table_container">
            <h3>Aktiva ordrar</h3>
            <table class="table-striped table-hover mb-2 table_sizing_fullwidth">
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th>
                            Order Ref
                        </th>
                        <th>
                            Beställd
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Titta på ordern
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for order in order_a %}
                    <tr>
                        <td>
                            {{ order.ref_code }}
                        </td>
                        <td>
                            {{ order.ordered_date }}
                        </td>
                        <td>
                            {% if order.being_delivered %}
                                Skickad
                            {% else %}
                                Under behandling
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="{{ order.get_absolute_url_member }}">
                                {% csrf_token %}
                                <button class="btn btn-primary float-right see_button" type="submit" value="{{order.id}}" name="lookAtOrder">
                                    Se order
                                </button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
{% endblock content %}
