{% extends "base.html" %}

{% block content %}


<main>
    <div class="container">
    <!--orders-->
    <!--active-->
        <div class="border rounded mb-3">
        <form method="POST" action=".">
        {% csrf_token %}
            <table class="table-striped table-hover w-100  mb-2">
                <tbody>
                    {% comment %}
                        Info
                    {% endcomment %}
                
                    <tr>
                        <td class="mdb-color lighten-5 w-25">
                            First Name
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            Last Name
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Email
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            Telephone number
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Company
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            &nbsp;
                        </td>
                        <td>
                            <a class="" href="{% url 'member:my_support' %}">
                                <button class="btn btn-primary float-right">
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>

        </form>
                    {% comment %}
                        If company, company info
                    {% endcomment %}

        <form method="POST" action=".">
        {% csrf_token %}
                    <tr>
                        <td class="mdb-color lighten-5">
                            Company name
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            Company organisationnumber
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5">
                            Company adress
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            &nbsp;
                        </td>
                        <td>
                            <a class="" href="{% url 'member:my_support' %}">
                                <button class="btn btn-primary float-right">
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>

        </form>
                    {% comment %}
                        Adresses
                    {% endcomment %}

        <form method="POST" action=".">
        {% csrf_token %}

                    <tr>
                        <td class="mdb-color lighten-5">
                            Adresses
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            Street Adress
                        </td>
                        <td>
                            <a class="" href="{% url 'member:my_support' %}">
                                <button class="btn btn-primary float-right">
                                    Edit
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>

</main>

{% endblock content %}
