{% extends "base.html" %}

{% block content %}


<main>
    <div class="container">
        <div class="w-100">
            <a class="nav-link waves-effect float-right" href="{% url 'member:support' %}">
                <span class="btn btn-primary"> Nytt supportärende </span>
            </a>
        </div>
    <!--profile-->
        <div class="border rounded mb-3 p-2">
        <h3>
            Min information
        </h3>
        {% csrf_token %}
            <table class="table-striped table-hover w-100 table-bordered">
                <tbody>
                    {% comment %}
                        Info
                    {% endcomment %}

                    {% if info.company %}
                    
                    <tr>
                        <td class="mdb-color lighten-4 w-25 pl-1">
                            Företagets kontaktperson
                        </td>
                        <td class="pl-1">
                            &nbsp;
                        </td>
                    </tr>

                    {% endif %}
                    <tr>
                        <td class="mdb-color lighten-5 w-25 pl-1">
                            Förnamn
                        </td>
                        <td class="pl-1">
                            {{ info.first_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4 pl-1">
                            Efternamn
                        </td>
                        <td class="pl-1">
                            {{ info.last_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5 pl-1">
                            Email
                        </td>
                        <td class="pl-1">
                            {{ info.email }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4 pl-1">
                            Telefon number
                        </td>
                        <td class="pl-1">
                            {{ info.telephone }}
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <form method="POST" action="{% url 'member:my_info' %}" class="w-100 mb-2" style="height: 50px;">
                {% csrf_token %}
                <input type="hidden" value="edit" name="edit">
                <input type="hidden" value="{{info.first_name}}" name="first_name">
                <input type="hidden" value="{{info.last_name}}" name="last_name">
                <input type="hidden" value="{{info.email}}" name="email">
                <input type="hidden" value="{{info.telephone}}" name="telephone">
                <button class="btn btn-primary float-right">
                    Ändra
                </button>
            </form>

                    {% if info.company %}
                    {% comment %}
                        If company, company info
                    {% endcomment %}
        <h3>
            Företagets information
        </h3>

        <form method="POST" action=".">
        {% csrf_token %}
            <table class="table-striped table-hover w-100  mb-2 table-bordered">
                <tbody>
                    <tr>
                        <td class="mdb-color lighten-5 pl-1">
                            Företagets namn
                        </td>
                        <td class="pl-1">
                            {{ company.company }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4 pl-1">
                            Organisationnummer
                        </td>
                        <td class="pl-1">
                            {{ company.organisation_number }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-5 pl-1">
                            Företagets address
                        </td>
                        <td class="pl-1">
                            {{ company_address }}
                        </td>
                    </tr>
                    <tr>
                        <td class="mdb-color lighten-4">
                            &nbsp;
                        </td>
                        <td class="pl-1">
                            <a class="" href="{% url 'member:my_support' %}">
                                <div class="btn btn-primary float-right">
                                    Ändra
                                </div>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
                    {% endif %}
                    {% comment %}
                         addresses
                    {% endcomment %}
        <h3>
            Mina sparade addresser
        </h3>
        <div>
            <a class="" href="{% url 'member:new_address' %}">
                <div class="btn btn-primary float-right">
                    Lägg till ny
                </div>
            </a>
        </div>

        <form method="POST" action=".">
        {% csrf_token %}
            <table class="table-striped table-hover w-100  mb-2 table-bordered">
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th class="p-1">
                            Gatu address
                        </th>
                        <th class="p-1">
                            Typ
                        </th>
                        <th class="p-1">
                            Huvudsaklig
                        </th>
                        <th class="p-1">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for address in  addresses %}
                    <tr>
                        <td class="mdb-color lighten-5 pl-1">
                            {{  address.street_address }}
                        </td>
                        <td>
                            {% if address.address_type == "S"%}
                                Leverans address
                            {% else %}
                                Faktura address
                            {% endif %}
                        </td>
                        <td class="pl-1">
                            {% if address.default %}
                                Ja
                            {% else %}
                                Nej
                            {% endif %}
                        </td>
                        <td>
                            <a class="pl-1" href="{{ address.get_absolute_url }}">
                                <div class="btn btn-primary float-right">
                                    Ändra/Titta på
                                </div>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

    </div>

</main>

{% endblock content %}
