{% extends "base.html" %}

{% block content %}

<!-- all subscriptions-->
<div class="">
    <h1>Mina premunationer</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Referensnummer
                </th>
                <th>
                    Status
                </th>
                <th>
                    Datum för nästa utskick
                </th>
                <th>
                    Titta på
                </th>
            </tr>
        </thead>
        <tbody>
    {% for subscription in subscriptions %}
            <tr>
                <td>
                    {{ subscription.ref }}
                </td>
                <td>
                    {% if subscription.active %}
                        Aktiv
                </td>
                <td>
                    {{ subscription.next_order_date }}
                </td>
                    {% else %}
                        Avstängd
                </td>
                <td>
                    ---
                </td>
                    {% endif %}
                <td>
                    <form method="POST">
                        <button type="submit" value="subscription.ref" name="lookAt">
                            Se order
                        </button>
                    </form>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}