{% extends "base.html" %}

{% block content %}

<div class="">
    <h1>Inställningar för mina kakor</h1>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>
                        Typ
                    </th>
                    <th>
                        Inställning
                    </th>
                    <th>
                        Ändra
                    </th>
                </tr>
            </thead>
            <tbody>
        {% for cookie in cookieSettings %}
                <tr>
                    <td>
                        {% if cookie.functional %}
                            Sidfunktion
                    </td>
                    <td>
                            {% if cookie.onoff %}
                                <input type="checkbox" checked>
                            {% else %}
                                <input type="checkbox">
                            {% endif %}
                    </td>
                        {% elif cookie.directed_ads %}
                            Personligtanpassad reklam
                    </td>
                    <td>
                            {% if cookie.onoff %}
                                <input type="checkbox" checked>
                            {% else %}
                                <input type="checkbox">
                            {% endif %}
                    </td>
                        {% elif cookie.mesurement %}
                            Mätningskakor för sidans utveckling
                    </td>
                    <td>
                            {% if cookie.onoff %}
                                <input type="checkbox" checked>
                            {% else %}
                                <input type="checkbox">
                            {% endif %}
                    </td>
                        {% endif %}
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <button type="submit" value="save" name="saveCookies">
            Spara kakinställningar
        </button>
    </form>
</div>

{% endblock content %}
