{% extends "base.html" %}

{% block content %}

<main>
    <div class="container">
    <!--orders-->
    <!--active-->
        <div class="border rounded mb-3">{{test}}
            <h3>Inställningar för mina kakor, {{test}}</h3>
            <form method="POST" action=".">
                <table class="table-striped table-hover w-100">
                    <thead class="mdb-color lighten-5">
                        <tr>
                            <th>
                                Typ
                            </th>
                            <th>
                                Inställning
                            </th>
                            <th>
                                Ändra
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    Sidfunktion
                            </td>
                            <td>
                                    {% if cookie_settings.functional %}
                                        På
                                    {% else %}
                                        Av
                                    {% endif %}
                            </td>
                            <td>
                                    {% if cookie_settings.functional %}
                                        <input type="checkbox" checked>
                                    {% else %}
                                        <input type="checkbox">
                                    {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
               <div class="w-100 mb-2" style="height: 50px!important;">
                    <button type="submit"class="btn btn-primary float-right">
                        Spara kakinställningar
                    </button>
                </div>
            </form>
        </div>

    </div>

</main>
{% endblock content %}
