{% extends "base.html" %}

{% block content %}

<!-- all subscriptions-->
<main>
    <div class="container">
        <div>
                <form method="POST" action="{{ newSub.get_absolute_url }}">
                    {% csrf_token %}
                    <input type="hidden" name="slug" value='new'>
                    <input type="hidden" name="new_or_old" value='new'>
                    <button type="submit" class="btn btn-primary float-right">
                        Ny premunation
                    </button>
                </form>
        </div>
        <div class="border rounded mb-3">
            <h3>Mina premunationer</h3>
            <table class="table-striped table-hover w-100  mb-2">
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th>
                            Referensnummer
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Datum för nästa utskick
                        </th>
                        <th>
                            Se
                        </th>
                        <th>
                            Ta bort
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for subscription in subscriptions %}
                    <tr>
                        <td>
                            {{ subscription.ref }}
                        </td>
                            {% if subscription.active %}
                        <td>
                                Aktiv
                        </td>
                        <td>
                            {{ subscription.next_order_date }}
                        </td>
                            {% else %}
                        <td>
                                Pausad
                        </td>
                        <td>
                                ---
                        </td>
                            {% endif %}
                        <td>
                            <form method="POST" action="{{ subscription.get_absolute_url }}">
                                {% csrf_token %}
                                <input type="hidden" name="slug" value={{subscription.slug}}>
                                <button type="submit" class="btn btn-primary float-right">
                                    Se premunation
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="." onSubmit="return confirm('Are you sure you wish to delete the subscription? This action can not be undone.');">
                                {% csrf_token %}
                                <input type="hidden" name="delete" value='yes'>
                                <input type="hidden" name="id" value={{subscription.id}}>
                                <button type="submit" class="btn btn-primary float-right">
                                    Ta bort premunation
                                </button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>

{% endblock content %}