{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="container">
    <!--orders-->
    <!--active-->
        <div class="border rounded mb-3 p-1">
            <h3>Inställningar för mina kakor</h3>
            <form method="POST" action=".">
                {% csrf_token %}
                <table class="table-striped table-hover w-100">
                    <thead class="mdb-color lighten-5">
                        <tr>
                            <th>
                                Typ
                            </th>
                            <th>
                                Inställning
                            </th>
                            <th>
                                Ändra
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    Nödvändiga kakor
                            </td>
                            <td>
                                    På
                            </td>
                            <td>
                                    Dessa går inte att stänga av då sidans grundläggande funktioner så som navigation, kundvagn etc slutar fungera.
                            </td>
                        </tr>
                        {% comment %}
                            These dont exist yet. When they do add remove in turn off function.
                        <tr>
                            <td>
                                    Personligt anpassad reklam
                            </td>
                            <td>
                                    {% if cookie_settings.addapted_adds %}
                                        På
                                    {% else %}
                                        Av
                                    {% endif %}
                            </td>
                            <td>
                                    {{form.addapted_adds}}
                            </td>
                        </tr> {% endcomment %}
                    </tbody>
                </table>
               {% comment %} <div class="w-100 mb-2 save_settings_button" style="height: 50px!important;"> {% endcomment %}
               <div class="w-100 mb-2 save_settings_button">
                    <button type="submit"class="btn btn-primary float-right" disabled>
                        Spara kakinställningar
                    </button>
                </div>
            </form>
        </div>

    </div>

</main>
{% endblock content %}
