{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- all subscriptions-->
<main>
    <div class="container">
        {{ test }}
    </div>

</main>

{% endblock content %}

elif self.request.POST['new_or_old'] == 'activate':

                # get the old subscription
                subscription = Subscription.objects.filter(
                    user=self.request.user, id=int(self.request.POST['id']),)
                message = ''
                # access query set
                for sub in subscription:
                    # take in the data
                    # user
                    sub.user = self.request.user

                    # start date
                    # make sure the date is in the correct format
                    sub.start_date = make_aware(datetime.strptime(
                        self.request.POST['start_date'], '%Y-%m-%d'))
                    # intervall
                    sub.intervall = self.request.POST['intervall']
                    # all user addresses
                    addresses = Address.objects.filter(user=self.request.user)
                    # shipping_address
                    shipping_address = self.request.POST['shipping_address']
                    # billing_address
                    billing_address = self.request.POST['billing_address']
                    for address in addresses:
                        if address.id == int(shipping_address):
                            sub.shipping_address = address
                        elif address.id == int(billing_address):
                            sub.billing_address = address
                    # number_of_products
                    sub.number_of_items = int(
                        self.request.POST['number_of_products'])

                    # calcuate the rest of the data
                    sub.updated_date = make_aware(
                        datetime.now().strftime("%Y-%m-%d"))
                    sub.active = True

                    sub.next_order_date = get_next_order_date(
                        sub.start_date, sub.intervall)

                    # save subscription
                    sub.save()

                    # first se if an order is connected, if it is get it

                    if sub.next_order > 0:
                        theOrderQuery = Order.objects.filter(
                            id=sub.next_order)
                        for theOrder in theOrderQuery:
                            theOrder.subscription_order = True
                            theOrder.subscription_date = sub.next_order_date
                            theOrder.ordered_date = make_aware(
                                datetime.now().strftime("%Y-%m-%d"))
                            theOrder.ordered = True
                            theOrder.received = False
                            theOrder.being_delivered = False
                            for address in addresses:
                                if address.id == int(shipping_address):
                                    theOrder.shipping_address = address
                                elif address.id == int(billing_address):
                                    theOrder.billing_address = address
                            theOrder.save()
                            sub.next_order = theOrder.id
                            sub.save()

                        # delete old items in sub and order
                        orderItems = theOrder.items.all()
                        for item in orderItems:
                            item.delete()

                        sub_items = SubscriptionItem.objects.filter(
                            subscription=sub)
                        for item in sub_items:
                            item.delete()

                        # recreate all items

                        i = 1

                        for i in range(sub.number_of_items):
                            i += 1
                            p_string = 'product%s' % (i,)
                            a_string = 'amount%s' % (i,)
                            product_id = int(self.request.POST[p_string])
                            amount = int(self.request.POST[a_string])
                            products = Item.objects.filter(id=product_id)
                            for product in products:
                                orderItem = save_subItems_and_orderItems(
                                    sub, amount)
                                theOrder.items.add(orderItem)
                                message = "Subscription saved and activated."
                    else:
                        # it isn't so we make a new one
                        theOrder = Order()

                        theOrder.user = sub.user

                        # create a reference code and check that there isnt already one before setting the orders ref code to the code
                        ref_code = create_ref_code()
                        ref_test = True

                        while ref_test:
                            testOrder = Order.objects.filter(ref_code=ref_code)
                            if testOrder is not None:
                                refcode = create_ref_code()
                            else:
                                ref_test = False

                        theOrder.ref_code = ref_code
                        theOrder.subscription_order = True
                        theOrder.subscription_date = sub.next_order_date
                        theOrder.ordered_date = make_aware(
                            datetime.now().strftime("%Y-%m-%d"))
                        theOrder.ordered = True
                        theOrder.received = False
                        theOrder.being_delivered = False
                        for address in addresses:
                            if address.id == int(shipping_address):
                                theOrder.shipping_address = address
                            elif address.id == int(billing_address):
                                theOrder.billing_address = address
                        theOrder.save()
                        sub.next_order = theOrder.id
                        sub.save()

                        # remove old items in sub

                        sub_items = SubscriptionItem.objects.filter(
                            subscription=sub)
                        for item in sub_items:
                            item.delete()

                        # recreate subscription items

                            i = 1

                            for i in range(sub.number_of_items):
                                i += 1
                                p_string = 'product%s' % (i,)
                                a_string = 'amount%s' % (i,)
                                product_id = int(self.request.POST[p_string])
                                amount = int(self.request.POST[a_string])
                                products = Item.objects.filter(id=product_id)
                                for product in products:
                                    orderItem = save_subItems_and_orderItems(
                                        sub, amount)
                                    theOrder.items.add(orderItem)
                                    message = "Subscription saved and activated."
                    messages.info(self.request, message)
                    return redirect("member:my_subscriptions")
