{% extends "base.html" %}

{% block content %}


<main>

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="sup_container_width">
        <div class="mb-3 sup_container_width_second">
            <div class="back_button">
                <form method="POST" action="{% url 'support:specific_user' %}">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-primary' name="lookAt" value="{{person.id}}">
                        Tillbaka
                    </button>
                </form>
            </div>
            <h3>
                Kundens addresser:
            </h3>
                        {% comment %}
                            addresses
                        {% endcomment %}
            <div>
                <form method="POST" action="{% url 'support:new_address' %}">
                    {% csrf_token %}
                    <input type="hidden" name="theClient" value="{{ person.id }}">
                    <button type="submit" class="btn btn-primary">
                        Lägg till ny
                    </button>
                </form>
            </div>

            <table class="table-striped table-hover mb-2 table-bordered table_sizing_fullwidth_6_less_pad">
                <thead class="mdb-color lighten-5">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Gatuaddress
                        </th>
                        <th>
                            Typ
                        </th>
                        <th>
                            Huvudsaklig
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for address in  addresses %}
                    <tr>
                        <td class="mdb-color lighten-5">
                            {{  address.id }}
                        </td>
                        <td>
                            {{  address.street_address }}
                        </td>
                        <td>
                            {% if address.address_type == "S"%}
                                Leverans address
                            {% else %}
                                Faktura address
                            {% endif %}
                        </td>
                        <td>
                            {% if address.default %}
                                Ja
                            {% else %}
                                Nej
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="{% url 'support:edit_address'%}">
                            {% csrf_token %}
                                <input type="hidden" name="theClient" value="{{ person.id }}">
                                <input type="hidden" name="theClient" value="{{ person.id }}">
                                <input type="hidden" name="theAddress" value="{{  address.id }}">
                                <button class="btn btn-primary sup_buttons max_button_size">
                                    Ändra/Titta på
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="." onSubmit="return confirm('{{onsubmit}}');">
                                {% csrf_token %}
                                <input type="hidden" name="delete" value='yes'>
                                <input type="hidden" name="id" value={{address.id}}>
                                <input type="hidden" name="u_id" value={{person.id}}>
                                <button type="submit" class="btn btn-primary sup_buttons">
                                    Ta bort
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex w-100 justify-content-around">
                <ul class="pagination">
                    {% if previous_page %}
                    <li class="page-item">
                        <form method="POST" action="{% url 'support:edit_addresses' %}">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_value}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            <button type="submit" value="True" name="previousPage" class="page-link">
                                &laquo;
                            </button>
                        </form>
                    </li>
                    {% endif %}
                    {% if start %}
                    <li>
                        <form method="POST" action="{% url 'support:edit_addresses' %}" class="faq_paging_page">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_value}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            {% comment %} <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                            <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras">
                                1
                            </button>
                            {% comment %} <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                            <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" disabled>
                                ...
                            </button>
                        </form>
                    </li>
                    {% endif %}
                    {% if current_page == 4 %}
                        <form method="POST" action="{% url 'support:edit_addresses' %}">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_value}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            {% comment %} <button type="submit" value="1" name="page" class="page-link mod_button_paging_if_4" style="color: black; border: 0"> {% endcomment %}
                            <button type="submit" value="1" name="page" class="page-link mod_button_paging_if_4">
                                1
                            </button>
                        </form>
                    {% endif %}
                    {% for address in more_addresses %}
                    {%if current_page == address %}
                    <li class="page-item active">
                    {% else %}
                    <li class="page-item">
                    {% endif %}
                        <form method="POST" action="{% url 'support:edit_addresses' %}">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_type}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            <button type="submit" value="{{ address }}" name="page" {% if current_page == address %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                                {{address}}<span class="sr-only">(current)</span>
                            </button>
                        </form>
                    </li>
                    {% endfor %}
                    {% if end %}
                    <li>
                        <form method="POST" action="{% url 'support:edit_addresses' %}" class="faq_paging_page">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_value}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            {% comment %} <button type="submit" value="False" name="..." class="page-link" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                            <button type="submit" value="False" name="..." class="page-link faq_paging_page" disabled>
                                ...
                            </button>
                            {% comment %} <button type="submit" value="{{max}}" name="page" class="page-link" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                            <button type="submit" value="{{max}}" name="page" class="page-link faq_paging_page">
                                {{max}}
                            </button>
                        </form>
                    </li>
                    {% endif %}
                    {% if next_page %}
                    <li class="page-item">
                        <form method="POST" action="{% url 'support:edit_addresses' %}">
                        {% csrf_token %}
                            <input type="hidden" value="pagination" name="paging">
                            <input type="hidden" value="{{current_page}}" name="current_page">
                            <input type="hidden" name="search" value="{{search_value}}">
                            <input type="hidden" name="person" value="{{person.id}}">
                            <button type="submit" value="True" name="nextPage" class="page-link" {% if max == current_page %} disabled{% endif %}>
                            &raquo;
                            </button>
                        </form>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>

    </div>

</main>

{% endblock content %}
