{% extends "base.html" %}

{% block content %}

<main>
    <div class="container">
        <div class="border rounded mb-3">
        {% if active %}
            <form method="POST" action="{{path}}">
                {% csrf_token %}
                {{form.sub_id}}
                {{form.u_id}}
                <button type="submit" name="deactivateSubscription" value="True" class="btn btn-primary float-right">
                    Avaktivera prenumeration
                </button>
            </form>
        {% endif %}
            <form method="POST" action="{{path}}">
                {% csrf_token %}
                {{ form.new_or_old }}
                {{ form.sub_id }}
                <div id="info">
                    <table class="table table-striped table-hover w-100  mb-2">
                        <tbody>
                            <tr>
                                <td class="w-25">Start datum:</td>
                                <td>
                                    <input type="date" name="start_date" required id="id_start_date"  value="{{ sub_date }}">
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25">Periodicitet:</td>
                                <td>
                                    {{ form.intervall }}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25">Leverans address:</td>
                                <td>
                                    {{ form.shipping_address }}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25">Fakuterings address:</td>
                                <td>
                                    {{ form.billing_address }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="products">
                    {{ form.list_of_products}}
                    {{ form.number_of_products}}
                    {% for product_field in form.get_product_fields %}
                        {% for amount_field in form.get_amount_fields %}
                        
                    <table class="table table-striped table-hover w-100  mb-2">
                        <tbody>
                            <tr>
                                <td class="w-25">
                                    Vara:
                                </td>
                                <td>
                                    {{ product_field }}
                                </td>
                            </tr>
                            <tr>
                                <td class="w-25">
                                    Mängd:
                                </td>
                                <td>
                                    {{ amount_field }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                        {% endfor %}
                    {% endfor %}
                                    <button type='submit' name="add_item" class='btn btn-primary'>Lägg till vara</button>
                </div>
                {{form.u_id}}
                <button type='submit' class='btn btn-primary' name="saveSubscription" value="True">Spara och Aktivera</button>
            </form>
        </div>
    </div>
</main>

{% endblock content %}
