{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}

    <div class="row border border-dark mb-3 p-2">
        <form method="POST" class="w-100">
            {% csrf_token %}
            <input type="hidden" value="{{current_page}}" name="current_page">
            <div class="d-flex justify-content-around flex-wrap">
                <div>
                    Referens: {{form.order_ref|as_crispy_field}}
                </div>
                <div>
                    Orderid: {{form.order_id|as_crispy_field}}
                </div>
                <div>
                {% if paging_search %}
                    Kundid: <input type="number" name="user_id" class="numberinput form-control" id="id_user_id" value="{{search_value}}">
                {% else %}
                    Kundid: {{form.user_id|as_crispy_field}}
                {% endif %}
                </div>
                <div>
                    {% comment %} <button type="submit" name="search" class='btn btn-primary mt-3 sup_search_button' value="True" style="padding:10px">Sök</button> {% endcomment %}
                    <button type="submit" name="search" class='btn btn-primary mt-3 sup_search_button' value="True">Sök</button>
                </div>
            </div>
        </form>
    </div>
    <!-- results or all orders -->
    <div class="row border border-dark mb-3 p-2">
        <h3>Ordrar</h3>
        <table class="table-striped table-hover w-100  mb-2">
            <thead class="mdb-color lighten-5">
                <tr>
                    {% comment %} <th class="sup_orders_table_th_td" style="font-size: 0.8rem;"> {% endcomment %}
                    <th class="sup_orders_table_th_td">
                        Order Ref
                    </th>
                    {% comment %} <th class="sup_orders_table_th_td" style="font-size: 0.8rem;"> {% endcomment %}
                    <th class="sup_orders_table_th_td">
                        Status
                    </th>
                    {% comment %} <th class="sup_orders_table_th_td" style="font-size: 0.8rem;"> {% endcomment %}
                    <th class="sup_orders_table_th_td">
                        Titta på ordern
                    </th>
                </tr>
            </thead>
            <tbody>
        {% for order in orders %}
                <tr>
                    {% comment %} <th class="sup_orders_table_th_td" style="font-size: 0.8rem;"> {% endcomment %}
                    <td class="sup_orders_table_th_td">
                        {{ order.ref_code }}
                    </td>
                    {% comment %} <th class="sup_orders_table_th_td" style="font-size: 0.8rem;"> {% endcomment %}
                    <td class="sup_orders_table_th_td">
                        {% if order.refund_granted %}
                            Återbetalning godkänd
                        {% elif order.returned %}
                            Order returnerad
                        {% elif order.refund_requested and order.returned_flag %}
                            Återbetalning begärd och påväg i retur
                        {% elif order.refund_requested %}
                            Återbetalning begärd
                        {% elif order.returned_flag %}
                            Order påväg i retur
                        {% elif order.being_delivered %}
                            Skickad
                        {% elif order.being_read %}
                            Packas
                        {% else %}
                            Underbehandling
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{{ order.get_absolute_url_support }}">
                            {% csrf_token %}
                            {% comment %} <button type="submit" value="{{order.id}}" name="lookAtOrder" class='btn btn-primary sup_see_order_button' style="font-size: 0.8rem; padding:10px"> {% endcomment %}
                            <button type="submit" value="{{order.id}}" name="lookAtOrder" class='btn btn-primary sup_see_order_button' style="font-size: 0.8rem;">
                                Se order
                            </button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex w-100 justify-content-around">
        <ul class="pagination">
            {% if previous_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="True" name="previousPage" class="page-link">
                        &laquo;
                    </button>
                </form>
            </li>
            {% endif %}
            {% if start %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    {% comment %} <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                    <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras">
                        1
                    </button>
                    {% comment %} <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                    <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" disabled>
                        ...
                    </button>
                </form>
            {% endif %}
            {% if current_page == 4 %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="1" name="page" class="page-link mod_button_paging_if_4">
                        1
                    </button>
                </form>
            {% endif %}
            {% for order in more_orders %}
                {%if current_page == faq %}
            <li class="page-item active">
                {% else %}
            <li class="page-item">
                {% endif %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="{{ order }}" name="page" {% if current_page == order %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                        {{order}}<span class="sr-only">(current)</span>
                    </button>
                </form>
            </li>
            {% endfor %}
            {% if end %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    {% comment %} <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                    <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" disabled>
                        ...
                    </button>
                    {% comment %} <button type="submit" value="{{max_pages}}" name="page" class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                    <button type="submit" value="{{max_pages}}" name="page" class="page-link mod_button_paging_extras">
                        {{max_pages}}
                    </button>
                </form>
            {% endif %}
            {% if next_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="True" name="nextPage" class="page-link" {% if max == current_page %} disabled{% endif %}>
                    &raquo;
                    </button>
                </form>
            </li>
            {% endif %}
        </ul>

    </div>

</div>


{% endblock content %}
