{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="d-flex w-100 justify-content-around">
    <form method="POST" action="{{ order.get_absolute_url_support }}">
        {% csrf_token %}
        <div>
            <div>
                <button type="submit" value="{{order.id}}" name="lookAtOrder" class='btn btn-primary'>
                    Tillbaka
                </button>
            </div>
        </div>
    </form>
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="order" value="{{order.id}}">
        <input type="hidden" name="item" value="{{item.id}}">
        <div class="row border border-warning" >
            <h1>Order {{order.id}}</h1>
            <h3>{{item.title}}</h3>
            <table class="table-striped table-hover w-100  mb-2">
                <tbody>
                    <tr>
                        <td>
                            Mängd
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pris
                        </td>
                        <td>
                            {{ item.price }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rabatt
                        </td>
                        <td>
                            {{ item.discount_price }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Totalpris
                        </td>
                        <td>
                            {{ item.total_price }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Skickad
                        </td>
                        <td>
                            {{ item.sent }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Flaggad för retur
                        </td>
                        <td>
                            {{ item.returned_flag }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Returnerad
                        </td>
                        <td>
                            {{ item.returned }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Återbetalningbegärd
                        </td>
                        <td>
                            {{ item.refund_flag }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Återbetalningbeviljad
                        </td>
                        <td>
                            {{ item.refund }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Markera för retur
                        </td>
                        <td>
                            <input type="checkbox" name="ItemToReturn" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Avmarkera för retur
                        </td>
                        <td>
                            <input type="checkbox" name="ItemToReturnUn" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Markera returnerad
                        </td>
                        <td>
                            <input type="checkbox" name="ItemReturned" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Markera oreturnerad
                        </td>
                        <td>
                            <input type="checkbox" name="ItemUnReturned" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Markera Återbetalningbegärd
                        </td>
                        <td>
                            <input type="checkbox" name="PaybackRequested" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Avmarkera Återbetalningbegärd
                        </td>
                        <td>
                            <input type="checkbox" name="PaybackRequestCancel" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Godkänn återbetalning
                        </td>
                        <td>
                            <input type="checkbox" name="PaybackApproved" value="True">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Avbryt återbetalning
                        </td>
                        <td>
                            <input type="checkbox" name="PaybackCancel" value="True">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

            <button type='submit' class='btn btn-primary' name="save" value="True">Spara</button>
        </div>
    </form>
</div>


{% endblock content %}
