{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="back_button">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class='btn btn-primary' name="back" value="{{user.id}}">
                Tillbaka
            </button>
        </form>
    </div>
    <div class="mb-3 p-2 sup_fullsize">
        <h3>Kund: {{userInfo.first_name}} {{userInfo.last_name}}</h3>
        <table class="table-striped table-hover w-100  mb-2 table-bordered">
            <tbody>
                <tr>
                    <td>
                        Profil
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:edit_user' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{user.id}}" name="lookAtProfile" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
                {% if userInfo.company %}
                <tr>
                    <td>
                        Företag
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:edit_company' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{user.id}}" name="lookAtCompany" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        Addresser
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:edit_addresses' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{user.id}}" name="lookAtAddresses" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        Inställningar
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:user_settings' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{user.id}}" name="lookAtSettings" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}
