{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}

    <div class="mb-3 p-2">
        <form method="POST" class="sup_fullsize">
            <input type="hidden" value="{{current_page}}" name="current_page">
        {% csrf_token %}
            <div>
                <div>
                    Kund id:
                </div>
                <div>
                    {{form.user_id}}
                </div>
                <button type="submit" name="search" value="new" class='btn btn-primary'>Sök</button>
            </div>
        </form>
    </div>
    <!-- results or all orders -->
    <div class="mb-3 p-2">
        <h3>Kunder</h3>
        <table class="table-striped table-hover w-100  mb-2 table-bordered">
            <thead class="mdb-color lighten-5">
                <tr>
                    <th>
                        Kund id
                    </th>
                    <th>
                        Förnamn
                    </th>
                    <th>
                        Efternamn
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
    {% if multiple %}
        {% for entry in users %}
                <tr>
                    <td>
                        {{ entry.id }}
                    </td>
                    <td>
                        {{ entry.person.first_name }}
                    </td>
                    <td>
                        {{ entry.person.last_name }}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:specific_user' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{entry.id}}" name="lookAt" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
    {% else %}
        {% for entry in users %}
                <tr>
                    <td>
                        {{ entry.id }}
                    </td>
                    <td>
                        {{ entry.person.first_name }}
                    </td>
                    <td>
                        {{ entry.person.last_name }}
                    </td>
                    <td>
                        <form method="POST" action="{% url 'support:specific_user' %}">
                            {% csrf_token %}
                            <button type="submit" value="{{entry.id}}" name="lookAt" class='btn btn-primary'>
                                Se
                            </button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
    {% endif %}
            </tbody>
        </table>
    </div>
    <div class="d-flex w-100 justify-content-around">
        <ul class="pagination">
            {% if previous_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_value}}">
                    <button type="submit" value="True" name="previousPage" class="page-link">
                        &laquo;
                    </button>
                </form>
            </li>
            {% endif %}
            {% if start %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_value}}">
                    {% comment %} <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                    <button type="submit" value="1" name="page" class="page-link mod_button_paging_extras">
                        1
                    </button>
                    {% comment %} <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                    <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" disabled>
                        ...
                    </button>
                </form>
            {% endif %}
            {% if current_page == 4 %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_value}}">
                    <button type="submit" value="1" name="page" class="page-link mod_button_paging_if_4">
                        1
                    </button>
                </form>
            {% endif %}
            {% for user in more_users %}
            {%if current_page == user %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <button type="submit" value="{{ user }}" name="page" {% if current_page == user %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                        {{user}}<span class="sr-only">(current)</span>
                    </button>
                </form>
            </li>
            {% endfor %}
            {% if end %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_value}}">
                    {% comment %} <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block" disabled> {% endcomment %}
                    <button type="submit" value="False" name="..." class="page-link mod_button_paging_extras" disabled>
                        ...
                    </button>
                    {% comment %} <button type="submit" value="{{max}}" name="page" class="page-link mod_button_paging_extras" style="color: black; border: 0; display:inline-block"> {% endcomment %}
                    <button type="submit" value="{{max}}" name="page" class="page-link mod_button_paging_extras">
                        {{max}}
                    </button>
                </form>
            {% endif %}
            {% if next_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_value}}">
                    <button type="submit" value="True" name="nextPage" class="page-link" {% if max == current_page %} disabled{% endif %}>
                    &raquo;
                    </button>
                </form>
            </li>
            {% endif %}
        </ul>

    </div>
</div>


{% endblock content %}
