{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">
    <div class="row border border-dark mb-3 p-2">
        <form method="POST" class="w-100">
            {% csrf_token %}
            <input type="hidden" value="{{r_current_page}}" name="r_current_page">
            <input type="hidden" name="search" value="{{search_type}}">
            <div class="d-flex justify-content-around">
                <div>
                    Referens: {{form.order_ref|as_crispy_field}}
                </div>
                <div>
                    Orderid: {{form.order_id|as_crispy_field}}
                </div>
                <div>
                    <button type="submit" name="searching" class='btn btn-primary mt-3' value="True">Sök</button>
                </div>
            </div>
        </form>
    </div>
    <!-- results or all orders -->
    <div class="row border border-dark mb-3 p-2">
        <h3>Ordrar</h3>
        <table class="table-striped table-hover w-100  mb-2">
            <thead class="mdb-color lighten-5">
                <tr style="text-align: center;">
                    <th>
                        Order ID
                    </th>
                    <th>
                        Order Ref
                    </th>
                    <th>
                        Titta på ordern
                    </th>
                </tr>
            </thead>
            <tbody>
        {% for reg_order in reg_orders %}
                <tr style="text-align: center;">
                    <td>
                        {{ reg_order.id }}
                    </td>
                    <td>
                        {{ reg_order.ref_code }}
                    </td>
                    <td>
                        <form method="POST" action="{{ reg_order.get_absolute_url_moderator }}">
                            {% csrf_token %}
                            <button type="submit" value="{{reg_order.id}}" name="lookAtOrder" class='btn btn-primary'>
                                Se order
                            </button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="d-flex w-100 justify-content-around">
        <ul class="pagination">
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="{{r_current_page}}" name="r_current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <button type="submit" value="True" name="previousPageRegOrder" class="page-link" {% if r_current_page == 1 %}disabled{% endif %}>
                        <
                    </button>
                </form>
            </li>
            {% for r_order in more_reg_orders %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="{{r_current_page}}" name="r_current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <button type="submit" value="{{ r_order.number }}" name="r_page" {% if r_current_page == r_order.number %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                        {{r_order.number}}
                    </button>
                </form>
            </li>
            {% endfor %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="{{r_current_page}}" name="r_current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <button type="submit" value="True" name="nextPageRegOrder" class="page-link" {% if rmax == r_current_page %} disabled{% endif %}>
                        >
                    </button>
                </form>
            </li>
        </ul>

    </div>

</div>


{% endblock content %}
