{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div>
        <a href="{% url 'moderator:categories' %}">
            <button type="submit" class="btn btn-primary back_button">
                Tillbaka till kategorier
            </button>
        </a>
    </div>

    <div class="border border-dark mb-3 p-2">
        <h3>Kategori</h3>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="old" value="{{ old }}">
            <table class="table-striped table-hover w-100  mb-2 table-bordered">
                <tbody>
                    <tr>
                        <td>
                            Titel:
                        </td>
                        <td>
                            {{ form.title }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Beskrivning
                        </td>
                        <td class="description">
                            {{ form.description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rea pris
                        </td>
                        <td>
                            {{ form.discount_price }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type='submit' class='btn btn-primary' name="saveCategory" value="True">Spara</button>
        </form>
    </div>
</div>


{% endblock content %}
