{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div>
        <a href="{% url 'moderator:faqs' %}">
            <button type="submit" class="btn btn-primary float-right">
                Tillbaka till faqs
            </button>
        </a>
    </div>

    <div class="border border-dark mb-3 p-2">
        {% for title in theTitle %}
            <h3>{{title.text}}</h3>
        {% endfor %}
        <form method="POST" action="." style="max-width: 100%">
            {% csrf_token %}
            <table class="table-striped table-hover mb-2 table-bordered" style="max-width: 100%">
                <tbody style="max-width: 100%">
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            {{form.description.label}}
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            {{ form.description }}
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            Fråga
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            {{ form.subject }}
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            Svar
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            {{ form.content }}
                        </td>
                    </tr>
                    <tr style="max-width: 100%">
                        <td style="max-width: 100%">
                            
                            {% for button in saveButton %}
                            <button type='submit' class='btn btn-primary' id="save" name="saveFAQ">{{button.buttonText}}</button>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>


{% endblock content %}
