{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}

    <div class="border border-dark mb-3 p-2">
        <form method="POST" class="w-100">
            <input type="hidden" value="{{current_page}}" name="current_page">
        {% csrf_token %}
            {% if warning %}
                <div class="d-flex justify-content-around">
                    Varning: Frakt ej funnen i vald typ
                </div>
            {% endif %}
            <div class="d-flex justify-content-around flex-wrap">
                <div class="d-flex align-self-center">
                    <div>
                    {{form.freight_type.label}} {{form.freight_type}}
                    </div>
                </div>
                <div class="d-flex align-self-center">
                    <div>
                    Id: {{form.freight_id}}
                    </div>
                </div>
                <div>
                    <button type="submit" name="search" class='btn btn-primary mt-3'>Sök</button>
                </div>
                <div>
                    <button type="submit" name="resetFreightSearch" class='btn btn-primary mt-3' value="Yes">Tillbaka till alla</button>
                </div>
            </div>
        </form>
    </div>

    <div class="border border-dark mb-3 p-2">
        <form method="POST" class="w-100" action="{{freight.get_absolute_url_moderator_new}}">
            {% csrf_token %}
            <div class="d-flex justify-content-around">
                <div>
                    <button type="submit" value="new" name="new" class='btn btn-primary'>
                        Skapa Nytt Fraktalternativ
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- results or all orders -->
    <div class="border border-dark mb-3 p-2">
        {% if search_done %}
        <h3>Fraktalternativ</h3>
        
            <h4>Sök: {{search_value }} </h4>
        {% else %}
        <h3>Fraktalternativ</h3>
        {% endif %}
        <table class="table-striped table-hover w-100  mb-2 table-bordered">
            <thead class="mdb-color lighten-5">
                <tr>
                    <th>
                        Frakt id
                    </th>
                    <th>
                        Titel
                    </th>
                    <th>
                        Pris
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
        {% for a_freight in freights %}
                <tr>
                    <td>
                        {{ a_freight.id }}
                    </td>
                    <td>
                        {{ a_freight.title }}
                    </td>
                    <td>
                        {{ a_freight.amount }}
                    </td>
                    <td>
                        <form method="POST" action="{{a_freight.get_absolute_url_moderator}}">
                            {% csrf_token %}
                            <input type="hidden" name="freight_type" value="current">
                            <button type="submit" value="{{a_freight.id}}" name="see" class='btn btn-primary' style="padding: 5px">
                                Se
                            </button>
                        </form>
                    </td>
                    <td>
                        <div class="btn btn-success float-right" style="padding: 5px">
                            Aktiv
                        </div>
                    </td>
                </tr>
        {% endfor %}
        {% if lessThenOffset %}
            {% for o_freight in oldfreights %}
                    <tr>
                        <td>
                            {{ o_freight.id }}
                        </td>
                        <td>
                            {{ o_freight.title }}
                        </td>
                        <td>
                            {{ o_freight.amount }}
                        </td>
                        <td>
                            <form method="POST" action="{{o_freight.get_absolute_url_moderator}}">
                                {% csrf_token %}
                                <input type="hidden" name="freight_type" value="old">
                                <button type="submit" value="{{o_freight.id}}" name="see" class='btn btn-primary'>
                                    Se
                                </button>
                            </form>
                        </td>
                        <td>
                            <div class="btn btn-warning float-right">
                                Ej aktiv
                            </div>
                        </td>
                    </tr>
            {% endfor %}
        {% endif %}
            </tbody>
        </table>
    </div>

    <div class="d-flex w-100 justify-content-around">
        <ul class="pagination">
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="search_value" value="{{search_value}}">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <button type="submit" value="True" name="previousPage" class="page-link" {% if current_page == 1 %}disabled{% endif %}>
                        <
                    </button>
                </form>
            </li>
            {% for the_freight in more_freights %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="search_value" value="{{search_value}}">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <button type="submit" value="{{ the_freight.number }}" name="page" {% if current_page == the_freight.number %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                        {{the_freight.number}}
                    </button>
                </form>
            </li>
            {% endfor %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="search_value" value="{{search_value}}">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <button type="submit" value="True" name="nextPage" class="page-link" {% if max_pages == current_page %} disabled{% endif %}>
                        >
                    </button>
                </form>
            </li>
        </ul>

    </div>
</div>


{% endblock content %}
