{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-3">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="row border border-dark mb-3 p-2">
        <form method="POST" class="w-100">
            {% csrf_token %}
            <input type="hidden" value="search" name="newSearch">
            <input type="hidden" value="{{current_page}}" name="current_page">
            <input type="hidden" name="search" value="{{search_type}}">
            <div class="d-flex justify-content-around flex-wrap">
                <div>
                    {{searchform.searchID.label}} {{searchform.searchID}}
                </div>
                <div>
                    {{searchform.languages.label}} {{searchform.languages}}
                </div>
                <div>
                    {{searchform.searchTerm.label}} {{searchform.searchTerm}}
                </div>
                <div>
                {% for button in searchButton %}
                    <button type='submit' class='btn btn-primary'>{{button.buttonText}}</button>
                {% endfor %}
                </div>
            </div>
        </form>
    </div>
    <!-- results or all orders -->
    <div class="row border border-dark mb-3 p-2">
        <h3>Vanliga frågor</h3>
        <table class="table-striped table-hover w-100  mb-2">
            <thead class="mdb-color lighten-5">
                {% comment %} <tr class="mod_faqs_table_tr" style="text-align: center;"> {% endcomment %}
                <tr class="mod_faqs_table_tr">
                    <th>
                        FAQ ID
                    </th>
                    <th>
                        Beskrivning
                    </th>
                    <th>
                        Titta på
                    </th>
                    <th>
                        Ta bort
                    </th>
                </tr>
            </thead>
            <tbody>
        {% for faq in FAQS %}
                {% comment %} <tr class="mod_faqs_table_tr" style="text-align: center;"> {% endcomment %}
                <tr class="mod_faqs_table_tr">
                    <td>
                        {{ faq.id }}
                    </td>
                    <td>
                        {{ faq.description }}
                    </td>
                    <td>
                        <form method="POST" action="{{ faq.get_absolute_url_moderator }}">
                            {% csrf_token %}
                            {% comment %} <button type="submit" value="{{faq.id}}" name="lookAtFAQ" class='btn btn-primary mod_button_see' style="padding: 5px"> {% endcomment %}
                            <button type="submit" value="{{faq.id}}" name="lookAtFAQ" class='btn btn-primary mod_button_see'>
                                Se FAQ
                            </button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ empty_faq.get_absolute_url_moderator_delete }}"  class="w-100">
                            {% csrf_token %}
                            {% for abutton in deleteButton %}
                                {% comment %} <button type='submit' class='btn btn-primary mod_button_remove' name="deleteFAQ" value="{{faq.id}}" style="padding: 5px">{{abutton.buttonText}}</button> {% endcomment %}
                                <button type='submit' class='btn btn-primary mod_button_remove' name="deleteFAQ" value="{{faq.id}}">{{abutton.buttonText}}</button>
                            {% endfor %}
                        </form>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex w-100 justify-content-around">
        <ul class="pagination">
            {% if previous_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="True" name="previousPage" class="page-link">
                        &laquo;
                    </button>
                </form>
            </li>
            {% endif %}
            {% if start %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="1" name="page" class="page-link">
                        1
                    </button>
                    <button type="submit" value="False" name="..." class="page-link" disabled>
                        ...
                    </button>
                </form>
            {% endif %}
            {% if current_page == 4 %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="1" name="page" class="page-link">
                        1
                    </button>
                </form>
            {% endif %}
            {% for faq in more_faqs %}
            {%if current_page == faq %}
            <li class="page-item active">
            {% else %}
            <li class="page-item">
            {% endif %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <button type="submit" value="{{ faq }}" name="page" {% if current_page == faq %}class="page-link disabled" disabled{% else %} class="page-link"{% endif %}>
                        {{faq}}<span class="sr-only">(current)</span>
                    </button>
                </form>
            </li>
            {% endfor %}
            {% if end %}
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchValue" value="{{search_value}}">
                    <button type="submit" value="False" name="..." class="page-link" disabled>
                        ...
                    </button>
                    <button type="submit" value="{{max}}" name="page" class="page-link">
                        {{max}}
                    </button>
                </form>
            {% endif %}
            {% if next_page %}
            <li class="page-item">
                <form method="POST">
                {% csrf_token %}
                    <input type="hidden" value="pagination" name="paging">
                    <input type="hidden" value="{{current_page}}" name="current_page">
                    <input type="hidden" name="search" value="{{search_type}}">
                    <input type="hidden" name="searchTerm" value="{{search_value}}">
                    <button type="submit" value="True" name="nextPage" class="page-link" {% if max == current_page %} disabled{% endif %}>
                    &raquo;
                    </button>
                </form>
            </li>
            {% endif %}
        </ul>

    </div>
    <div class="row border border-dark mb-3 p-2">
        <form method="POST" action="{{ empty_faq.get_absolute_url_moderator_new }}"  class="w-100">
            {% csrf_token %}
            <div class="d-flex justify-content-around">
                <div>
                {% for button in addButton %}
                    <button type='submit' class='btn btn-primary' name="createFAQ" value="True">{{button.buttonText}}</button>
                {% endfor %}
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}
