{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <div class="container">
    <!--orders-->
    <!--active-->
        <div class="border rounded mb-3">
            <h3>Skapa ny produkt</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="theUser" value="{{ person.id }}">
                <table>
                    <tbody>
                        <tr style="height:56px;">
                            <td>
                                Titel:
                            </td>
                            <td>
                                {{ form.title }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pris:
                            </td>
                            <td>
                                {{ form.price }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reapris:
                            </td>
                            <td>
                                {{ form.discount_price }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Kategori:
                            </td>
                            <td>
                                Stoppa in dropdown
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Beskrivning:
                            </td>
                            <td>
                                {{ form.description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Bild:
                            </td>
                            <td>
                                Img upload thing here
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type='submit' class='btn btn-primary' name="saveAddress" value="True">Spara</button>
            </form>
        </div>

    </div>

</main>
{% endblock content %}
