{% extends "base.html" %}

{% block content %}

<!--orders-->
<!--active-->
<div class="container" style="margin: 0">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <div>
                <input type="hidden" name="reader" value="{{the_user}}">
                <button type="submit" class='btn btn-primary' name="back" value="{{order.id}}">
                    Tillbaka
                </button>
            </div>
        </div>
    </form>

    <form method="POST" action="{{path}}" onSubmit="return confirm('Verifikation: {{ order.id }}lagd för utskick?'" style="max-width: 100%; display: flex; flex-direction: column; align-items: center">
        {% csrf_token %}
        <div style="max-width: 100%">
            <h1>Order {{order.id}}</h1> 
            <h4>{{ order.ref_code }}</h4>
            <table class="table-striped table-hover mb-2" style="max-width: 100%; margin-left: 0;">
                <thead style="max-width: 100%;">
                    <tr style="max-width: 100%;">
                        <th style="max-width: 24%">
                            Beställd
                        </th>
                        <th style="max-width: 24%">
                            Status
                        </th>
                        {% if comment != "" %}
                        <th style="max-width: 24%">
                            Kommentar
                        </th>
                        {% endif %}
                        <th style="max-width: 24%">
                            Ändra
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="max-width: 100%">
                        <td style="font-size:12px">
                            {{ order.ordered_date }}
                        </td>
                        <td style="font-size:12px">
                            {% if order.being_delivered %}
                                Skickad
                            {% else %}
                                Under behandling
                            {% endif %}
                        </td>
                        {% if comment != "" %}
                        <td style="font-size:2vw">
                            {{ comment }}
                        </td>
                        {% endif %}
                        <td  style="max-width: 18%">
                            <button type="submit" value="{{order.id}}" name="send" class='btn btn-primary' {% if not_same_person %}disabled{%endif%} style="padding:1px; max-width: 50%">
                                Markera som skickad
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <!--recently completed-->
        <div class="border border-dark" style="width: 75%;">
            <h1 style="width: 100%">Order delar</h1>
            <table class="table-striped table-hover mb-2" style="width: 100%">
                <thead>
                    <tr>
                        <th>
                            Vara
                        </th>
                        <th>
                            Mängd
                        </th>
                        <th>
                            Packad
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for item in orderItems %}
                    <tr>
                        <td>
                            {{ item.title }}
                        </td>
                        <td>
                            {{ item.quantity }}
                        </td>
                        <td>
                            <input type="checkbox" name="{{item.id}}" value="{{item.id}}" {% if item.sent %}checked{% endif %}>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>


{% endblock content %}
