

    <script>
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
    <div class="modal" id="myModal">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Information om kakor</h4>
                <button type="button" class="close" data-dismiss="modal" data-target="#myModal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                För att kunna navigera på denna sida använder vi vad som kallas nödvändiga kakor. Dessa loggas inte men behövs för att kunna använda sidans funktioner och för att göra sidan säker. Genom att använda sidan godkänner du dessa nödvändiga kakor.
                Vi använder inga kakor för analys, reklam eller annan icke nödvändig funktionalitet. Om detta ändras kommer du få information om det nästa gång du använder sidan och kunna ändra inställningar då.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-target="#myModal">OK</button>
            </div>

        </div>
    </div>
