<body>
{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-md navbar-light white scrolling-navbar" style="height: 64px; ">
    <div class="container" style="height: 40px;">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/" styles="min-width: 100px;">
        <strong class="blue-text" styles="max-width: 100px">Snoosshop</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" style="height: 40px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height: 40px;">
        
        <ul class="navbar-nav ml-auto"  style="height: 40px;">
              {% if request.user.is_authenticated %}
                {% if group.1 == 'moderator' or group.1 == 'support' %}
                <li class="nav-item dropdown" style="height: 40px;padding-top: 14px">
                {% else %}
                <li class="nav-item dropdown" style="height: 40px;padding-top: 10px">
                {% endif %}
              {% else %}
                <li class="nav-item dropdown" style="height: 40px;padding-top: 10px">
              {% endif %}
            <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Meny
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/">Hem
                </a>
              </li>
              <li class="nav-item" style="min-width:80px">
                <a class="nav-link waves-effect" href="/omoss">Om Oss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/team">Teamet</a>
              </li>
              <li class="nav-item" style="min-width:90px">
                <a class="nav-link waves-effect" href="/vision">Vår Vision</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/freight">Fraktinformation</a>
              </li>
              <li class="nav-item" style="min-width:120px">
                <a class="nav-link waves-effect" href="/faq">Vanliga frågor</a>
              </li>
              
              {% if not request.user.is_authenticated %}
                  {% comment %}
                    User
                  {% endcomment %}

                  <li class="nav-item" style="min-width:150px">
                    <a class="nav-link waves-effect" href="{% url 'member:cookie_settings' %}">
                        <span class="clearfix d-none d-sm-inline-block">
                          Mina inställningar
                        </span>
                      </a>
                  </li>

                  {% comment %}
                    Support
                  {% endcomment %}

              <li class="nav-item" style="min-width:150px">
                <a class="nav-link waves-effect" href="{% url 'member:support' %}">
                  <span class="clearfix d-none d-sm-inline-block"> Kontakta support </span>
                </a>
              </li>
              {% endif %}

            </ul>
          </li>
            <!-- Right -->
              {% if request.user.is_authenticated %}
                  {% comment %}
                    Menues logged in
                    Check user type
                  {% endcomment %}
                {% for group in request.user.groups.values_list %}
                {% if group.1 == 'moderator' %}
                    {% comment %}
                      Moderator menu
                    {% endcomment %}
                <li class="nav-item dropdown" style="padding-top: 14px; padding-left: 5px;">
                  <div class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modereringsmeny
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:overview' %}">
                        Översikt
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:products' %}">
                        Produkthantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:categories' %}">
                        Kategorihantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:orderhandling' %}">
                        Orderhantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:freights' %}">
                        Frakthantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:coupons' %}">
                        Kupponghantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:faqs' %}">
                        FAQhantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:my_profile' %}">
                        Min Profil
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:settings' %}">
                        Mina inställningar
                    </a>
                  </div>
                </li>
                {% elif group.1 == 'support' %}
                    {% comment %}
                      Support menu
                    {% endcomment %}
                <li class="nav-item dropdown" style="padding-top: 14px; padding-left: 5px;">
                  <div class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support meny
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:overview' %}">
                        Översikt
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:orders' %}">
                        Order Sökning
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:search_users' %}">
                        Användarsökning
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:my_profile' %}">
                        Min Profil
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:settings' %}">
                        Mina inställningar
                    </a>
                  </div>
                </li>

                {% elif group.1 == 'client' %}

                    {% comment %}
                      User menu
                    {% endcomment %}

                <li class="nav-item dropdown pb-4" style="padding-top: 10px;">
                  <div class="pl-2" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 90px; max-width: 90px; min-height: 30px;">
                    Mina Sidor
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_overview' %}">
                      <span class="clearfix d-none d-sm-inline-block">
                        Min översikt
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_orders' %}">
                      <span class="clearfix d-none d-sm-inline-block">
                        Mina ordrar
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item1" href="{% url 'member:my_profile' %}">
                      <span class="clearfix d-none d-sm-inline-block">
                        Min profil
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_settings' %}">
                      <span class="clearfix d-none d-sm-inline-block">
                        Mina inställningar
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'member:support' %}">
                      <span class="clearfix d-none d-sm-inline-block"> Kontakta support </span>
                    </a>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              {% comment %}
                Cart
              {% endcomment %}


                {% if group.1 == 'moderator' or group.1 == 'support' %}
          <li class="nav-item" style="padding-top: 6px;">
                {% else %}
          <li class="nav-item" style="padding-top: 2px;">
                {% endif %}
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="position-absolute badge red z-depth-1 p-0" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Varukorg </span>
            </a>
          </li>

              {% comment %}
                Logout
              {% endcomment %}

                {% if group.1 == 'moderator' or group.1 == 'support' %}
          <li class="nav-item" style="padding-top: 14px;">
                {% else %}
          <li class="nav-item" style="padding-top: 10px;">
                {% endif %}
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='nav-link waves-effect' style="padding: 0; border: none; background: none; font-weight: 300;" type="submit">Logga Ut</button>
            </form>
          </li>
          {% else %}

              {% comment %}
                Menues not logged in
              {% endcomment %}

              {% comment %}
                Cart
              {% endcomment %}

          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="position-absolute badge red z-depth-1 p-0" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Varukorg </span>
            </a>
          </li>

              {% comment %}
                Logga in
              {% endcomment %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logga in </span>
            </a>
          </li>

              {% comment %}
                Registrera
              {% endcomment %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Skaffa konto </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>
