<body>
{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">
        <strong class="blue-text">Snoosshop</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/omoss">Om Oss</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/team">Teamet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/vision">Vår Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/faq">Vanliga frågor</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
              {% comment %}
                Menues logged in
                Check user type
              {% endcomment %}
          {% for group in request.user.groups.values_list %}
          {% if group.1 == 'moderator' %}
              {% comment %}
                Moderator menu
              {% endcomment %}
          <li class="nav-item dropdown" style="top: 10px">
            <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bolder; font-size: 25px;">
              M
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:overview' %}">
                  Översikt
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:products' %}">
                  Produkthantering
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:categories' %}">
                  Kategorihantering
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:orderhandling' %}">
                  Orderhantering
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:freights' %}">
                  Frakthantering
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:coupons' %}">
                  Kupponghantering
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:my_profile' %}">
                  Min Profil
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:settings' %}">
                  Mina inställningar
              </a>
            </div>
          </li>
          {% elif group.1 == 'support' %}
              {% comment %}
                Support menu
              {% endcomment %}
          <li class="nav-item dropdown" style="top: 10px">
            <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bolder; font-size: 25px;">
              S
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu">
              <a class="nav-link waves-effect dropdown-item" href="{% url 'support:overview' %}">
                  Översikt
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'support:orders' %}">
                  Order Sökning
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'support:search_users' %}">
                  Användarsökning
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'support:my_profile' %}">
                  Min Profil
              </a>
              <a class="nav-link waves-effect dropdown-item" href="{% url 'support:settings' %}">
                  Mina inställningar
              </a>
            </div>
          </li>

          {% elif group.1 == 'client' %}

              {% comment %}
                User menu
              {% endcomment %}

          <li class="nav-item dropdown" style="top: 10px">
            <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_overview' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Min översikt
                  </span>
                </a>
                <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_orders' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Mina ordrar
                  </span>
                </a>

                {% comment %} <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_support' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Min support
                  </span>
                </a> {% endcomment %}
                <a class="nav-link waves-effect dropdown-item1" href="{% url 'member:my_profile' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Min profil
                  </span>
                </a>
                <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_settings' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Mina inställningar
                  </span>
                </a>
                <a class="nav-link waves-effect dropdown-item" href="{% url 'member:my_subscriptions' %}">
                  <span class="clearfix d-none d-sm-inline-block">
                    Mina premunationer
                  </span>
                </a>
                <a class="nav-link waves-effect dropdown-item" href="{% url 'member:support' %}">
                  <span class="clearfix d-none d-sm-inline-block"> Kontakta support </span>
                </a>
            </div>
          </li>
          {% endif %}
          {% endfor %}
              {% comment %}
                Cart
              {% endcomment %}

          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="position-absolute badge red z-depth-1 p-0" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Varukorg </span>
            </a>
          </li>

              {% comment %}
                Logout
              {% endcomment %}

          <li class="nav-item">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button class='btn shadow-none' type="submit">Logga Ut</button>
            </form>
          </li>
          {% else %}

              {% comment %}
                Menues not logged in
              {% endcomment %}

              {% comment %}
                Cart
              {% endcomment %}

          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="position-absolute badge red z-depth-1 p-0" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Varukorg </span>
            </a>
          </li>

              {% comment %}
                User
              {% endcomment %}

              <li class="nav-item">
                <a class="nav-link waves-effect" href="{% url 'member:cookie_settings' %}">
                    <span class="clearfix d-none d-sm-inline-block">
                      Mina inställningar
                    </span>
                  </a>
              </li>

              {% comment %}
                Support
              {% endcomment %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'member:support' %}">
              <span class="clearfix d-none d-sm-inline-block"> Kontakta support </span>
            </a>
          </li>

              {% comment %}
                Logga in
              {% endcomment %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logga in </span>
            </a>
          </li>

              {% comment %}
                Registrera
              {% endcomment %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Skaffa konto </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>
