<body>
{% load cart_template_tags %}

{% comment %} <nav class="navbar fixed-top navbar-expand-md navbar-light white scrolling-navbar navbar_scroll" style="height: 64px; ">
    <div class="container navbar_container" style="height: 40px;">

      <!-- Brand -->
      <a class="navbar-brand waves-effect snoos_icon" href="/" styles="min-width: 100px;">
        <strong class="blue-text" styles="max-width: 100px"> {% endcomment %}
        
        
<nav class="navbar fixed-top navbar-expand-md navbar-light white scrolling-navbar navbar_scroll">
    <div class="container navbar_container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect snoos_icon">
        <strong class="blue-text snoos_icon">Snoosshop</strong>
      </a>

      <!-- Collapse -->

      {% comment %} <button class="navbar-toggler main_nav_toggle" style="height: 40px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> {% endcomment %}

      <button class="navbar-toggler main_nav_toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      {% comment %} <div class="collapse navbar-collapse main_nav" id="navbarSupportedContent" style="height: 40px; background: white"> {% endcomment %}
      <div class="collapse navbar-collapse main_nav" id="navbarSupportedContent">
        
        {% comment %} <ul class="navbar-nav ml-auto"  style="height: 40px;"> {% endcomment %}

        <ul class="navbar-nav ml-auto main_nav_border">
              {% if request.user.is_authenticated %}
                {% if group.1 == 'moderator' or group.1 == 'support' %}
                {% comment %} <li class="nav-item dropdown main_nav_staff" style="height: 40px;padding-top: 14px; background: white;"> {% endcomment %}
                <li class="nav-item dropdown main_nav_staff">
                {% else %}
                {% comment %} <li class="nav-item dropdown main_nav_customer" style="height: 40px;padding-top: 10px; background: white;"> {% endcomment %}
                <li class="nav-item dropdown main_nav_customer">
                {% endif %}
              {% else %}
                {% comment %} <li class="nav-item dropdown main_nav_else" style="height: 40px;padding-top: 8px; background: white;"> {% endcomment %}
                <li class="nav-item dropdown main_nav_else">
              {% endif %}
            <div id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Meny
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/">Hem
                </a>
              </li>
              {% comment %} <li class="nav-item main_nav_about" style="min-width:80px"> {% endcomment %}
              <li class="nav-item main_nav_about">
                <a class="nav-link waves-effect" href="/omoss">Om Oss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/team">Teamet</a>
              </li>
              {% comment %} <li class="nav-item main_nav_vision" style="min-width:90px"> {% endcomment %}
              <li class="nav-item main_nav_vision">
                <a class="nav-link waves-effect" href="/vision">Vår Vision</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect" href="/freight">Fraktinformation</a>
              </li>
              {% comment %} <li class="nav-item main_nav_faq" style="min-width:120px"> {% endcomment %}
              <li class="nav-item main_nav_faq">
                <a class="nav-link waves-effect" href="/faq">Vanliga frågor</a>
              </li>
              
              {% if not request.user.is_authenticated %}
                  {% comment %}
                    User
                  {% endcomment %}

                  {% comment %} <li class="nav-item main_nav_settings" style="min-width:150px"> {% endcomment %}
                  <li class="nav-item main_nav_settings">
                    <a class="nav-link waves-effect" href="{% url 'member:cookie_settings' %}">
                        <span class="clearfix">
                          Mina inställningar
                        </span>
                      </a>
                  </li>

                  {% comment %}
                    Support
                  {% endcomment %}
              {% comment %}
              <li class="nav-item main_nav_contact_support" style="min-width:150px">
              {% endcomment %}
              <li class="nav-item main_nav_contact_support">
                <a class="nav-link waves-effect" href="{% url 'member:support' %}">
                  <span class="clearfix"> Kontakta support </span>
                </a>
              </li>
              {% endif %}

            </ul>
          </li>
            <!-- Right -->
              {% if request.user.is_authenticated %}
                  {% comment %}
                    Menues logged in
                    Check user type
                  {% endcomment %}
                {% for group in request.user.groups.values_list %}
                {% if group.1 == 'moderator' %}
                    {% comment %}
                      Moderator menu
                    {% endcomment %}
                {% comment %}
                <li class="nav-item dropdown main_nav_sub_mod" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;background: white;">
                {% endcomment %}
                <li class="nav-item dropdown main_nav_sub_mod">
                  <div class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modereringsmeny
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:overview' %}">
                        Översikt
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:products' %}">
                        Produkthantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:categories' %}">
                        Kategorihantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:orderhandling' %}">
                        Orderhantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:freights' %}">
                        Frakthantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:coupons' %}">
                        Kupponghantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:faqs' %}">
                        FAQhantering
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:my_profile' %}">
                        Min Profil
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'moderator:settings' %}">
                        Mina inställningar
                    </a>
                  </div>
                </li>
                {% elif group.1 == 'support' %}
                    {% comment %}
                      Support menu
                    {% endcomment %}
                {% comment %}
                <li class="nav-item dropdown main_nav_sub_sup" style="padding-top: 10px; padding-right: 10px; padding-left: 10px; background: white;">
                {% endcomment %}
                <li class="nav-item dropdown main_nav_sub_sup">
                  <div class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support meny
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:overview' %}">
                        Översikt
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:orders' %}">
                        Order Sökning
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:search_users' %}">
                        Användarsökning
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:my_profile' %}">
                        Min Profil
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'support:settings' %}">
                        Mina inställningar
                    </a>
                  </div>
                </li>

                {% elif group.1 == 'client' %}

                    {% comment %}
                      User menu
                    {% endcomment %}

                {% comment %}
                <li class="nav-item dropdown main_nav_li_cus" style="padding-top: 10px; padding-left: 10px; background: white;">
                {% endcomment %}
                <li class="nav-item dropdown main_nav_li_cus">
                {% comment %}
                  <div class="customer_nav_toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 80px; max-width: 80px; min-height: 30px;">
                {% endcomment %}
                  <div class="customer_nav_toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mina Sidor
                  </div>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="nav-link waves-effect dropdown-item " href="{% url 'member:my_overview' %}">
                      <span class="clearfix">
                        Min översikt
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item "  href="{% url 'member:my_orders' %}">
                      <span class="clearfix">
                        Mina ordrar
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item1" href="{% url 'member:my_profile' %}">
                      <span class="clearfix">
                        Min profil
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item " href="{% url 'member:my_settings' %}">
                      <span class="clearfix">
                        Mina inställningar
                      </span>
                    </a>
                    <a class="nav-link waves-effect dropdown-item" href="{% url 'member:support' %}">
                      <span class="clearfix"> Kontakta support </span>
                    </a>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              {% comment %}
                Cart
              {% endcomment %}

                
              {% for group in request.user.groups.values_list %}
                {% if group.1 != 'moderator' and group.1 != 'support' %}
              {% comment %}
          <li class="nav-item nav_item_extras" style="padding-top: 2px; background: white;">
              {% endcomment %}
          <li class="nav-item nav_item_extras">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              {% comment %}
              <span class="position-absolute badge red z-depth-1 p-0 main_nav_basket_count_cus" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">
              {% endcomment %}
              <span class="position-absolute badge red z-depth-1 p-0 main_nav_basket_count_cus">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix"> Varukorg </span>
            </a>
          </li>
                {% endif %}

              {% comment %}
                Logout
              {% endcomment %}

                {% if group.1 == 'support' %}

              {% comment %}
          <li class="nav-item main_nav_logout_li_sup" style="padding-top: 10px; background: white; color: #212529;">
              {% endcomment %}
          <li class="nav-item main_nav_logout_li_sup">
                {% else %}
              {% comment %}
          <li class="nav-item main_nav_logout_li_else" style="padding-top: 10px; background: white;">
              {% endcomment %}
          <li class="nav-item main_nav_logout_li_else">
                {% endif %}

                {% if group.1 == 'moderator' %}
                  <div>
              {% comment %}
                    <a class="nav-link waves-effect main_nav_logout_button_mod" style="padding-top: 0; padding-left: 0; color: #212529;" href="{% url 'core:logoutview' %}">
              {% endcomment %}
                    <a class="nav-link waves-effect main_nav_logout_button_mod" href="{% url 'core:logoutview' %}">
                      <span class="clearfix"> Logga Ut </span>
                    </a>
                  </div>
                </li>
                {% else %}
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              {% comment %}
              <button class='nav-link waves-effect main_nav_logout_button' style="padding: 0; padding-bottom: 14px; border: none; background: none; font-weight: 300; color: #212529;" type="submit">Logga Ut</button>
              {% endcomment %}
              <button class='nav-link waves-effect main_nav_logout_button' type="submit">Logga Ut</button>
            </form>
          </li>
                {% endif %}
            {% endfor %}
          {% else %}

              {% comment %}
                Menues not logged in
              {% endcomment %}

              {% comment %}
                Cart
              {% endcomment %}

              {% comment %}
          <li class="nav-item" style="background: white;">
              {% endcomment %}
          <li class="nav-item nav_item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              {% comment %}
              <span class="position-absolute badge red z-depth-1 p-0 main_nav_basket_count_else" style="width: 10px; height: 10px; font-size: 8px; padding-top: 1.5px!important;">{{ request.user|cart_item_count }}</span>
              {% endcomment %}
              <span class="position-absolute badge red z-depth-1 p-0 main_nav_basket_count_else">{{ request.user|cart_item_count }}</span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix"> Varukorg </span>
            </a>
          </li>

              {% comment %}
                Logga in
              {% endcomment %}

              {% comment %}
          <li class="nav-item main_nav_login_button" style="background: white;">
              {% endcomment %}
          <li class="nav-item main_nav_login_button">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix"> Logga in </span>
            </a>
          </li>

              {% comment %}
                Registrera
              {% endcomment %}

              {% comment %}
          <li class="nav-item main_nav_create_account_button"  style="background: white;">
              {% endcomment %}
          <li class="nav-item main_nav_create_account_button">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix"> Skaffa konto </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>
