{% extends "base.html" %}

{% block content %}
  <main>

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
    <div class="container">

    <div class="table-responsive">
    <h2>Sammanställning av order</h2>
    <table class="table basket_table">
        <thead>
        <tr>
            <th>#</th>
            <th>Vara</th>
            <th>Pris</th>
            <th>Mängd</th>
            <th>Totalpris för varan</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ order_item.item.title }}</td>
            {% if order_item.item.discount_price %}
            <td>{{ order_item.item.discount_price }}</td>
            {% else %}
            <td>{{ order_item.item.price }}</td>
            {% endif %}
            <td class="basket_alter">
                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus basket_alter_left"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus basket_alter_right"></i></a>
            </td>
            <td>
            {% if order_item.item.discount_price %}
                {{ order_item.get_total_discount_item_price }} kr
                <span class="badge badge-primary basket_wrap">Sparar {{ order_item.get_amount_saved }} kr</span>
            {% else %}
                {{ order_item.get_total_item_price }} kr
            {% endif %}
            </td>
            <td>
              {% comment %}
            <a class="remove_from_basket" style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
              {% endcomment %}
            <a href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right remove_from_basket"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Varukorgen är tom</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Fortsätt shoppa</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.coupon %}
        <tr>
            <td colspan="4"><strong>Rabattkod</strong></td>
            <td><strong>-{{ object.coupon.amount }} kr</strong></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="4"><strong>Totalpris för ordern</strong></td>
            <td><strong>{{ object.total_price }} kr</strong></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Fortsätt till kassan</a>
            <a class='btn btn-primary float-right' href='/'>Fortsätt shoppa</a>
            </td>
        </tr>
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}
