{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center mt-2 flex-wrap">

    {% if gdpr_check %}
      {% include "gdpr_popup.html" %}
    {% endif %}
      {% for person in people %}
      <!-- Card -->
      <div class="d-flex justify-content-center m-2 border border-info rounded p-4">
            <div class="mr-4">
                  <img src="media/{{person.image}}" width="80px">
            </div>
            {% comment %} <div class="border-left border-dark pl-4 team_card_info" style="min-width: 150px;"> {% endcomment %}
            <div class="border-left border-dark pl-4 team_card_info">
                  <div>
                        {{person.name}}
                  </div>
                  <div>
                        {{person.position}}
                  </div>
                  <div>
                        {{person.description}}
                  </div>
            </div>
      </div>
      {% endfor %}
</div>
{% endblock content %}
